$body-font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
$mono-font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;

* {
  font-family: $body-font-family;
}

$scrollbar-size: 7px;

::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(#7253ed, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(#7253ed, 0.5);
  border-radius: calc(#{$scrollbar-size} / 2);
}
