$body-font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
$mono-font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;

* {
  font-family: $body-font-family;
}

$scrollbar-size: 7px;

::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(#7253ed, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(#7253ed, 0.5);
  border-radius: calc(#{$scrollbar-size} / 2);
}

$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;

.lineno {
  padding-right: 0.5rem;
  min-width: 2.2rem;
  text-align: right;
  color: #9ea4ac;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}