<!-- Light Box -->
<link href="{{ site.baseurl }}/assets/js/lightbox/css/lightbox.css" rel="stylesheet" />
<!-- Firacode -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/firacode-6.2/distr/fira_code.css">
<!-- JQuery -->
<script src="{{ site.baseurl }}/assets/jquery-3.6.0/jquery.min.js"></script>
<!-- Waline -->
<script src="{{ site.baseurl }}/assets/client-2.14.4/dist/waline.js"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/client-2.14.4/dist/waline.css" />
<link rel="shortcut icon" href="{{ 'favicon.ico' | relative_url }}" type="image/x-icon">
