---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}

<body>
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  {% include icons/icons.html %}
  {% include components/sidebar.html %}
  <div class="main" id="top">
    {% include components/header.html %}
    <div id="core-wrapper">
      <div id="main-content-wrap" class="main-content-wrap">
        {% include components/breadcrumbs.html %}
        <div id="main-content" class="main-content" role="main">
          {% include refactor.html content=content %}

          {% if page.has_children == true and page.has_toc != false %}
            {% include components/children_nav.html toc_list=toc_list %}
          {% endif %}

          {% if page.type != 404 %}
            {% include components/footer.html %}
          {% endif %}
        </div>
        {% if page.type != 404 and site.waline.enabled == true %}
          <hr>
          {% include components/waline.html %}
        {% endif %}
      </div>
      {% if page.type != 404 %}
      <div id="right-panel">
        {% if page.toc %}
        <div id="toc-wrapper">
          <div id="toc-header">
            文章内容导航
          </div>
          {% include toc.html html=content id="toc" h_min=2 h_max=3 item_class="toc-h%level%" %}
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% if site.search_enabled != false %}
      {% include components/search_footer.html %}
    {% endif %}
  </div>
  {% if page.type != 404 %}
  <script src="{{ site.baseurl }}/assets/js/change-img-to-a.js"></script>
  <script>
    changeImgToA();
  </script>
  <script src="{{ site.baseurl }}/assets/js/lightbox/js/lightbox-plus-jquery.js"></script>
  {% endif %}

  {% if site.mermaid %}
    {% include components/mermaid.html %}
  {% endif %}
</body>

</html>